<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Details - Sofi's Scents</title>
    <link rel="stylesheet" href="/styles/styles.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="//fonts.googleapis.com/css?family=Roboto|Open+Sans:200,300,400,700,800,900&amp;subset=latin"
      rel="preload"
      as="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap"
    />
  </head>
  <body>
    <%- include('./partials/header') %>

    <section>
      <div class="container">
        <div class="product-info">
          <div class="product-content">
            <div class="product-image">
              <img src="<%= productDetail.image_url %>" alt="Product Image" />
            </div>
            <div class="product-description">
              <h2><%= productDetail.name %></h2>
              <p><%= productDetail.description %></p>
              <p>2 oz</p>
              <p>Price: $<%= productDetail.price %></p>
              <hr />
              <p>Main Accords</p>
              <ul>
                <% productDetail.main_accords.split(',').forEach(accord => { %>
                <li><%= accord.trim() %></li>
                <% }) %>
              </ul>
              <hr />
              <p>Best for</p>
              <ul>
                <% productDetail.best_for.split(',').forEach(forItem => { %>
                <li><%= forItem.trim() %></li>
                <% }) %>
              </ul>
              <a href="/cart" class="add-to-cart-btn">Add to Cart</a>
              <a href="#" class="heart-icon"><i class="fas fa-heart"></i></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include('./partials/footer') %>
  </body>
</html>
